* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Righteous';
}

h2 {
    font-family: 'Righteous';
    font-size: 26px;
    font-weight: bolder;
}

h3 {
    font-size: 16px;
    font-weight: bolder;
}

h4 {
    color: #a6a6a6;
}

.website {
    width: 100%;
    position: relative;
}

.overlay {
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);

    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
}

.espaçotopo {
    height: 92px;
}

.topo {
    background-color: #CF2B2B;
    color: white;
    height: 92px;
    width: 100%;

    padding-top: 10px;
    padding-left: 20px;

    position: fixed;
    top: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.topo h1 {
    font-size: 44px;
}

.content {
    width: 100%;
    padding-left: 20px;
    background-color: #e5e5e5;
}

.content img {
    width: 144px;
    height: 87px;
}

.cardapioPrato {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.pratos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: white;
    width: 172px;
    height: auto;
    padding: 14px 14px;
    margin-right: 16px;

    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

    position: relative;

}

.selected {
    border: 6px solid #32B72F;
}

.selected ion-icon {
    display: table;
}

.selected2 {
    border: 6px solid #32B72F;
}

.selected2 ion-icon {
    display: table;
}

.selected3 {
    border: 6px solid #32B72F;
}

.selected3 ion-icon {
    display: table;
}

.icon {
    display: none;
    position: absolute;
    bottom: 16px;
    right: 10px;

    color: white;
    background: #32B72F;
    border-radius: 50%;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 144px;
    height: 180px;
}

.encerrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 92px;

    position: fixed;
    bottom: 0;
}

.butao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 0);
    width: 90%;
    height: 61px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background-color: #cbcbcb;
}

.ativo {
    background-color: #32B72F;
}

.caixaInativa {
    display: none;
}

.confirmarPedido {
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #50D074;
    width: 377px;
    height: 353px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding-top: 20px;
}

.confirmarPedido h3 {
    color: white;
    font-size: 22px;
}

.confirmarPedido h4 {
    color: white;
    font-size: 22px;
}

.confirmarPedido .butao {
    font-weight: bolder;
    font-size: 22px;
    color: #50D074;
    background-color: white;
}

.todasAsNotas {
    padding: 28px 0;
    width: 100%;
}

.nota {
    display: flex;
    justify-content: space-around;

    padding-bottom: 13px;
}

.Cancel {
    width: 80%;
    height: 60px;
    background-color: #50D074;
    ;
    border-color: rgba(0, 0, 0, 0);

    font-size: 22px;
    color: white;
}